<h1>スマホ表示時のみAを非表示にする</h1>
<div class="container">
    <div class="row">
        <div class="col-md-2 hidden-xs" style="background: #FCC;">A</div>
        <div class="col-md-6" style="background: #CFC;">B</div>
        <div class="col-md-4" style="background: #6CC;">C</div>
    </div>
</div>

<div class="jumbotron">
    <h1>こちらがページタイトルです</h1>
    <p>Bootstrapについての色々な機能の紹介をしています。</p>
</div>

<div class="container">
    <div class="jumbotron col-md-2 ">
        <h1>こちらがページタイトルです</h1>
        <p>Bootstrapについての色々な機能の紹介をしています。</p>
    </div>
</div>
