<div class="">
  <%= form_for(@candidateurl) do |f| %>
    <%= f.text_area :url , cols: "30", rows: "1",:placeholder => "URL"%>
    <%= f.text_area :memo , maxlength: "10000",cols: "30", rows: "5",:placeholder => "メモ"%>
    <%= hidden_field_tag :question_id, @question.id %>
    <input class="btn-primary super_font1" type="submit" value="更新" />
  <% end %>
</div>
