<div class="project_edit container">
  <%= form_for @project, url: project_path, method: :patch do |f| %>
    <div class="field">
      <%= f.collection_select :project_category_id, ProjectCategory.all, :id, :category_name ,:prompt => "全ての質問"%>
    </div>
    <div class="field">
      <%= f.label :title, "タイトル" %>
      <%= f.text_area :title, :size=>"100",cols: "30", rows: "10",placeholder: "タイトルを入力して下さい。" %>
    </div>
    <div class="button_wrap">
      <input type="submit" value="保存する" class="button">
    </div>
  <% end %>
</div>
